<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".module_beacon.beaconManage.BeaconListMVPActivity"></activity>
        <activity
            android:name=".module_beacon.rssiCorrection.DialogMapActivity"
            android:theme="@style/customDialogStyle" />
        <activity android:name=".module_beacon.Main12Activity" />
        <activity android:name=".module_beacon.beaconManage.BeaconDetailActivity" />
        <activity android:name=".module_beacon.beaconManage.BeaconListActivity" />
        <activity
            android:name=".module_beacon.rssiCorrection.BluetoothDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".module_beacon.powerSetting.DeviceListForScanActivity" />
        <activity android:name=".module_beacon.powerSetting.PowerSettingActivity" />
        <activity android:name=".module_beacon.HomeActivity" />
        <activity android:name=".module_beacon.ui.JSInteractiveActivity" />
        <activity android:name=".module_beacon.ui.GPSActivity" />
        <activity android:name=".module_beacon.SplashActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".module_beacon.BaseActivity" />
        <activity android:name=".module_beacon.rssiCorrection.RssiCorrectionActivity" />
        <activity android:name=".module_beacon.powerSetting.DeviceScanActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <activity android:name=".module_beacon.powerSetting.DeviceControlActivity" />

        <service
            android:name=".module_beacon.service.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>